<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/app.css'>
</head>
<body>
    <h1>Assign waiter to table </h1>
    <form action="/dinetable/<%=thisTable.id%>?_method=PUT" method="POST">
        Table Name: <%= thisTable.name %> <br><br />
          
        Waiter name: <%= thisTable.User.name %> <br>
        <br>
        Assign to: 
        <select name="userId">
            <% for ( let i = 0; i < users.length; i++ ) { let selected = ( i == 0
                ) ? "selected" : ""; %>
                <option value="<%=users[i].id%>" selected>
                    <%=users[i].name%>
                </option>
                <% } %>
        </select>
        <br>
        <br>
        <input type="submit" value="EDIT" />
    </form>
</body>
</html>